@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
      --background: 95 0% 100%;
      --foreground: 95 0% 10%;
      --card: 95 0% 100%;
      --card-foreground: 95 0% 15%;
      --popover: 95 0% 100%;
      --popover-foreground: 95 95% 10%;
      --primary: 95 100% 32.9%;
      --primary-foreground: 0 0% 100%;
      --secondary: #132a62;
      --secondary-foreground: 0 0% 100%;
      --muted: 57 10% 95%;
      --muted-foreground: 95 0% 40%;
      --accent: 57 10% 90%;
      --accent-foreground: 95 0% 15%;
      --destructive: 0 50% 50%;
      --destructive-foreground: 95 0% 100%;
      --border: 95 20% 82%;
      --input: 95 20% 50%;
      --ring: 95 100% 32.9%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 95 10% 10%;
      --foreground: 95 0% 100%;
      --card: 95 0% 10%;
      --card-foreground: 95 0% 100%;
      --popover: 95 10% 5%;
      --popover-foreground: 95 0% 100%;
      --primary: 95 100% 32.9%;
      --primary-foreground: 0 0% 100%;
      --secondary: 95 10% 20%;
      --secondary-foreground: 0 0% 100%;
      --muted: 57 10% 25%;
      --muted-foreground: 95 0% 65%;
      --accent: 57 10% 25%;
      --accent-foreground: 95 0% 95%;
      --destructive: 0 50% 50%;
      --destructive-foreground: 95 0% 100%;
      --border: 95 20% 50%;
      --input: 95 20% 50%;
      --ring: 95 100% 32.9%;
      --radius: 0.5rem;
    }

    /* Custom scrollbar for WebKit browsers */
    ::-webkit-scrollbar {
        width: 12px; /* Width of vertical scrollbar */
        height: 12px; /* Height of horizontal scrollbar */
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: linear-gradient(180deg, rgba(19, 42, 98, 0.2), rgba(19, 42, 98, 0.4)); /* Subtle gradient, mostly Dark Sky Blue */
        border-radius: 10px; /* Rounded corners */
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Light inner shadow */
    }

    /* Handle (Thumb) */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(45deg, rgba(19, 42, 98, 0.9), rgba(70, 168, 0, 0.7)); /* Gradient favoring Dark Sky Blue */
        border-radius: 10px; /* Rounded corners */
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Inner shadow for depth */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(45deg, rgba(19, 42, 98, 1), rgba(70, 168, 0, 0.8)); /* Slightly bolder gradient on hover */
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
    }

    /* Optional: Horizontal scrollbar thumb style */
    ::-webkit-scrollbar-thumb:horizontal {
        background: linear-gradient(45deg, rgba(19, 42, 98, 0.85), rgba(70, 168, 0, 0.65)); /* Subtle gradient for horizontal scrollbar */
    }



}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
